/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body { font: 16px Helvetica, Arial; }

.hidden{
	display: none;
}


// imports
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import 'modules/_logIn';
@import 'modules/_chatRoom';
@import 'modules/_message';
@import 'modules/_users';


