<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		<section id="loginCon" v-show="notLoggedIn">
			<form id="loginForm">
				<label for="nickname" id="loginTitle">Your Nickname</label>
				<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="Name/Nickname">
				<input @click.prevent="logIn" id="loginSubmit" type="submit" value="Go!">
			</form>
		</section>	

		<section class="form-container">
			<form>
				<label for="message">Something to say?</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input v-show="message" @click.prevent="dispatchMessage" type="submit">
			</form>
		</section>

		<section class="messages">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages" :msg="message"></newmessage>
			</ul>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>