<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<!-- <script src="https://unpkg.com/vue"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
	<main id="app">
		<section id="loginCon" v-show="notLoggedIn">
			<form id="loginForm">
				<label for="nickname" id="loginTitle">Your Nickname</label>
				<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="Name/Nickname">
				<h2 class="hidden" :class="{ 'errorLogin' : errorLogin }" >Please enter name or nickname</h2>
				<input @click.prevent="logIn" id="loginSubmit" type="submit" value="Go!">
			</form>
		</section>	

		<div id="chatCon">

			<div class="chatRoom">
				<div class="statusBar">
					<button @click.prevent="logOut" class="logOutbttn"> Log Out</button>
				</div>

				<section class="messages" ref="container">
					<newuser v-for="newuser in users" :user="newuser"></newuser>
					<userlogout v-for="userout in usersLeft" :user="userout"></userlogout>


					<ul id="messages">
						<!-- render a new message component for every message -->
						<newmessage v-for="message in messages" :msg="message"></newmessage>
					</ul>
				</section>

				<section class="form-container">
					<form>
						<div v-if="userTyping" class="typingCon">
							<h3 id="typing">{{ userTyping }} Is typing a message</h3>
						</div>
						<textarea v-on:keydown="typing" v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Type your message here"></textarea>
						<input id="chatButton" @click.prevent="dispatchMessage" type="submit" value="Send!">
					</form>
				</section>
			</div>

		</div>

	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>

