.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 5px; }

    min-width: 150px;
    padding: 8px 12px;
    background-color: white; 
    border-radius: 8px;
    margin-bottom: 1rem;

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: rgb(40, 48, 85);
    color: white;
}